* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: #090c31;
  display: grid;
  place-items: center;
}

.calculadora {
  background-color: #15173c;
  color: white;
  grid-template-columns: repeat(4, lfr);
  width: 500px;
  max-width: 100%;
}
.pantalla{
    background-color: #6c757d;
    padding: 0;
    border-radius: 4px;
}
span.pantalla {
    display: flex;
    justify-content: flex-end;
  font-size: 50px;
}
button {
  width: 100%;
}
